.form-section input{
    border: none;
    background: rgb(212, 247, 213);
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.form-section label{
    margin-bottom: 10px;
}

.form-section .payment select{
    border: none !important;
}

textarea{
    resize: none !important;
    border: none;
    background: rgb(212, 247, 213);
    cursor: pointer;
}
.form-section button{
    width: 60%;
    height: 50px;
    margin-top: 20px;
    border: none !important;
    background-color: #197b00;
    text-transform: uppercase;
}
.form-section button:hover{
    background: white !important;
    color: #f09d51;
    border: solid 1px #e48f3f !important;
}